.status-search-bar {
    align-self: center;
    display: block;
    width: 100%;
    max-width: 150px;
    padding: 0.6rem 0.8rem;
    color: var(--text-strong);
    border: 1px solid var(--border-strong);
    background-color: var(--surface-input-alt);
    border-radius: 1rem;
    box-sizing: border-box;
}

.message-search-bar {
    display: flex;
    align-self: center;
    width: 100%;
    max-width: 320px;
    padding: 0.6rem 0.8rem;
    color: var(--text-strong);
    border: 1px solid var(--border-strong);
    background-color: var(--surface-input-alt);
    border-radius: 1rem;
    box-sizing: border-box;
}
