.search-bar {
    align-self: center;
    display: block;
    width: 150px;
    padding: 0.6rem 0.8rem;
    color: #000000;
    border: 1px solid #6C757D;
    background-color: #CFCDCD;
    border-radius: 1rem;
}