.message-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: flex-start;
    align-content: center;
    gap: 1.5rem;
    border: 3px solid #B2C8B2;
    border-radius: 1rem;
    background-color: #E8E8E8;
    height: 70vh;
    width: 80%;
    padding: 1.5rem;
    box-sizing: border-box;
    margin-top: 30px;
    overflow: hidden;
}

.message-icon {
    width: 40px;
}

.message-sender-div {
    display: flex;
    flex-direction: row;
    background-color: #A8B8A0;
    gap: 20px;
}

.message-sender-info {
    display: flex;
    align-content: flex-start;
    color: #000000;
    background-color: #ffffff;
}