.btn {
    background-color: #6C757D;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px solid #B2C8B2;
    border-radius: 0.25rem;
}

.cancelbtn {
    background-color: #DC3545;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px solid #B2C8B2;
    border-radius: 0.25rem;
}

.login-page {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.button-row {
  display: flex;
  gap: 8px;
  align-self: center;
}

.login-page label {
    align-self: center;
    display: block;
    width: 50%;
}

.login-page input {
    align-self: center;
    display: block;
    width: 50%;
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.footer {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 50%;
  height: 50%;
}