.settings-container {
    display: block;
    align-self: flex-end;
    border: 2px solid #a9c6a9;
    border-radius: 3rem;
    background-color: #a9c6a9;
    width: 50px;
    height: 40px;
}

.settings-container-button { 
    background: none;
    border: none;
}

.settings-icon {
    width: 40px;
}

.send-email {
    display: block;
    width: auto;
}

.message-body {
    align-self: center;
    display: block;
    width: 50%;
    height: 50px;
    padding: 0.6rem 0.8rem;
    color: #000000;
    border: 1px solid #6C757D;
    background-color: #CFCDCD;
    border-radius: 1rem;
}

.log-out-btn {
    color: #000000;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
}

.overlay {
    display: flex; 
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #000000;
    padding: 0.75rem;
    border-radius: 8px;
    text-align: center;
    width: auto;
    height: auto;
}

.option-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
} 

.settings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} 

.settings p {
    align-self: center;
} 

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin: 0.5rem 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    border-radius: 999px;
    transition: 0.2s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 3px;
    top: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
}

.switch input:checked + .slider {
    background-color: #4caf50;
}

.switch input:checked + .slider:before {
    transform: translateX(22px);
}