.settings-container {
    display: block;
    align-self: flex-end;
    border: 2px solid #a9c6a9;
    border-radius: 3rem;
    background-color: #a9c6a9;
    width: 50px;
    height: 40px;
}
.settings-container-button { 
    background: none;
    border: none;
}

.settings-icon {
    width: 40px;
}

.overlay {
    display: flex; 
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}
.modal {
    background-color: #FFFFFF;
    padding: 0.75rem;
    border-radius: 8px;
    text-align: center;
    width: auto;
    height: auto;
}