.user-info-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: flex-start;
    align-content: center;
    gap: 1.5rem;
    border: 3px solid #B2C8B2;
    border-radius: 1rem;
    background-color: #E8E8E8;
    height: auto;
    width: auto;
    padding: 1.5rem;
    box-sizing: border-box;
    margin-top: 90px;
    overflow: hidden;
}

.user-info-main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    border: 3px solid #b3b9b3;
    border-radius: 1rem;
    background-color: #FFFFFF;
    gap: 10px;
}

.user-info-main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    border: 3px solid #b3b9b3;
    border-radius: 1rem;
    background-color: #FFFFFF;
    gap: 10px;
}


.user-info-main-box h2 {
    color: #000000;
}

.user-data-icon {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 40px;
}

.user-data-box {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    color: #000000;
}

.user-data-box h2 {
    color: #000000;
}

.page-header {
    color:#000000;
}