.data-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    border: 3px solid var(--border-soft);
    border-radius: 1rem;
    background-color: var(--surface-alt);
    width: 100%;
    height: fit-content;
    padding: 0.50rem;
    box-sizing: border-box;
}

.data-container  {
    display: flex;
    flex-direction: column;
    align-content: last baseline;
    background-color: var(--surface);
    border: 3px solid var(--text-strong);
    border-radius: 1rem;
    color: var(--text-strong);
    padding: 1.5rem;
    flex: 1 1 250px;
    box-sizing: border-box;
}
.data-container p {
    align-self: flex-start;    
    color: var(--text-strong);
}

.data-container h2 {
    color: var(--text-strong);
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search-bar {
    display: block;
    width: 50%;
    padding: 0.6rem 0.8rem;
    color: var(--text-strong);
    border: 1px solid var(--border-strong);
    background-color: var(--surface-input-alt);
    border-radius: 1rem;
}

.search-button {
    padding: 0.6rem 1.2rem;
    color: var(--text-strong);
    font-weight: bold;
    border: 1px solid var(--border-soft);
    background-color: var(--surface);
    border-radius: 1rem;
}
