.data-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    border: 3px solid #B2C8B2;
    border-radius: 1rem;
    background-color: #E8E8E8;
    width: 100%;
    height: fit-content;
    padding: 0.50rem;
    box-sizing: border-box;
}

.data-container  {
    display: flex;
    flex-direction: column;
    align-content: last baseline;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 1rem;
    color: #000000;
    padding: 1.5rem;
    flex: 1 1 250px;
    box-sizing: border-box;
}
.data-container p {
    align-self: flex-start;    
    color: #000000;
}

.data-container h2 {
    color: #000000;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search-bar {
    display: block;
    width: 50%;
    padding: 0.6rem 0.8rem;
    color: #000000;
    border: 1px solid #6C757D;
    background-color: #CFCDCD;
    border-radius: 1rem;
}

.search-button {
    padding: 0.6rem 1.2rem;
    color: #000000;
    font-weight: bold;
    border: 1px solid #B2C8B2;
    background-color: #FFFFFF;
    border-radius: 1rem;
    cursor: pointer;
}